<div class="container">
  <!--<% @bookings.each_with_index do |booking, index|%>
  <div class="reservations">
  <div class="row mt-3">
    <div class="col-sm-6">
      <div class="wrapper" id="booking-recap-wrapper">
        <div class="booking-recap-container">
          <div class="text-center">
            <h1>Reservation: <%=index+1%></h1>
            <h4> <%= "#{booking.vehicle.user.first_name}'s #{booking.vehicle.name}"%></h4>
            <%= "#{booking.start_date.strftime('%d/%m/%Y')} - #{booking.end_date.strftime('%d/%m/%Y')}"%>
            <h3>You're paying: <%= booking.price %>€</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <%end %> -->

  <!--<div class="reservations">
    <h1>My Bookings</h1>
    <p>You have <%=@bookings.count%> bookings</p>
    <% @bookings.each_with_index do |booking, index|%>
      <div class="card-trip mt-4">
        <%= cl_image_tag booking.vehicle.photo.key, height: 500, width: 800, crop: :fill %>
        <div class="card-trip-infos">
           <div>
            <h2><%= "#{booking.vehicle.user.first_name}'s #{booking.vehicle.name}"%></h2>
            <p><%= "#{booking.start_date.strftime('%d/%m/%Y')} - #{booking.end_date.strftime('%d/%m/%Y')}"%></p>
          </div>
          <h2 class="card-trip-pricing"><%= booking.price %>€</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
        <div class="px-4">
         <% if booking.status == 0  %>
            <h6> Pending </h6>
            <% elsif booking.status == 1 %>
            <h6 class="text-success"> Accepted </h6>
            <% else %>
            <h6 class="text-danger"> Declined </h6>
          <% end %>
        </div>
      </div>
    <%end%>
  </div>
</div>-->


  <div class="reservations">
    <h1 class="mt-4">My Bookings</h1>
    <p>You have <%= pluralize @bookings.count, "booking" %></p>
    <% @bookings.each_with_index do |booking, index|%>
    <div class="card-booking mt-2">
      <%= cl_image_tag booking.vehicle.photo.key, height: 400, width: 700, crop: :fill %>
        <div class="description">
          <h2><%= "#{booking.vehicle.user.first_name}'s #{booking.vehicle.name}"%></h2>
          <p><%= "#{booking.start_date.strftime('%d/%m/%Y')} - #{booking.end_date.strftime('%d/%m/%Y')}"%></p>
          <p class="card-trip-pricing"><strong><%= booking.price %>€</strong></p>
        </div>
        <!--<img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />-->
      <div class="card-booking-infos">
        <div class="statut blink">
          <% if booking.status == 0  %>
            <h6> Pending </h6>
          <% elsif booking.status == 1 %>
            <h6 class="text-success"> Accepted </h6>
          <% else %>
            <h6 class="text-danger"> Rejected </h6>
          <% end %>
        </div>

         <!-- <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-bordered"%>
          <% else %>
            <%= image_tag"photo-avatar-profil.png", id: "avatar-bordered"%>
          <% end %>-->


      </div>
    </div>
    <%end%>
  </div>

</div>
