<div class= "container">
    <h1 class="my-4">My Vehicles</h1>
      <div class="reservation d-flex">
        <% @vehicles.each do |vehicle| %>
          <div class="">
            <%= link_to vehicle_path(vehicle) , :action => 'go' do %>
              <div class="card-vehicle">
                <% if vehicle.photo.attached? %>
                  <%= cl_image_tag vehicle.photo.key, height: 300, width: 400, crop: :fill %>
                <% end %>
                <div class="card-vehicle-infos">
                  <div>
                    <p><strong><%= vehicle.name %></strong></p>
                    <p><%= vehicle.description  %></p>
                  </div>
                  <p class="card-vehicle-pricing"><%=vehicle.price%>€</p>
                  <div class="filtered">
                    <% if vehicle.vehicle_type == "bike" %>
                      <p>🚲</p>
                    <% elsif vehicle.vehicle_type == "scooter" %>
                      <p>🛴</p>
                    <% elsif vehicle.vehicle_type == "skate" %>
                      <p>🛹</p>
                    <% elsif vehicle.vehicle_type == "rolling-skates" %>
                      <p>🛼</p>
                    <% else %>
                      <p>⛸</p>
                    <% end %>
                  </div>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </div>
  </div>

  <div class="container">
    <h1 class=" my-4">Demandes de réservations</h1>
    <div class="reservation d-flex">
      <% @booking_demands.each do |booking| %>
        <div class="card-vehicle p-4">
          <div class="row">
            <h3> <%= "#{booking.vehicle.name}"%></h3>
            <p><%= "#{booking.start_date.strftime('%d/%m/%Y')} - #{booking.end_date.strftime('%d/%m/%Y')}"%><p>
            <p> <%= booking.price %>€</p>
            <div class="card-vehicle-infos">
              <%= button_to "Accept", accept_this_booking_path(booking), method: :patch, class: "btn btn-outline-success btn-sm"%>
              <%= button_to "Reject", reject_this_booking_path(booking), method: :patch, class: "btn btn-outline-danger btn-sm" %>
            </div>
          </div>
          <div class="row">
            <% if booking.status == 0  %>
              <h6> En attente </h6>
              <% elsif booking.status == 1 %>
              <h6 class="text-success"> Confirmé </h6>
              <% else %>
              <h6 class="text-danger"> Rejeté </h6>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
  </div>
