<div class="container">
  <div class="row mt-4">
    <div class="col">
        <h3> Create a new vehicle </h3>
         <%= simple_form_for(@vehicle) do |f| %>
          <%= f.input :name, placeholder: 'Blue Performance Kayak' %>
          <%= f.input :vehicle_type, collection: Vehicle::CATEGORIES , placeholder: 'Bike' %>
          <%= f.input :price, placeholder: '20' %>
          <%= f.input :address, placeholder: 'Marseille' %>
          <%= f.input :description %>
          <%# <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-info' %>
        <% end %>
    </div>
  </div>
</div>
