<div class="container">
  <div class="header">
    <div class="title">
      <h1><em><%= @vehicle.user.first_name %>'s <%= @vehicle.vehicle_type %></em></h1>
      <h2><%= @vehicle.name %></h2>
      <p><em><%= @vehicle.address %></em></p>
    </div>
    <div class="buttons">
      <% if policy(Vehicle).edit? %>
        <%= link_to ("<i class='fa-solid fa-pen-to-square'></i>").html_safe, edit_vehicle_path, class:"btn-blue"%>
      <% end %>
      <% if policy(Vehicle).destroy? %>
        <%= link_to ("<i class='fa-solid fa-xmark'></i>").html_safe,
                      vehicle_path(@vehicle),
                      method: :delete,
                      data: { confirm: "Are you sure?" } ,
                      class:"btn-red"%>
      <% end %>
    </div>
  </div>

  <div class= "product">

    <div class= "product-info">
          <% if @vehicle.photo.attached? %>
            <%= cl_image_tag @vehicle.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>

    </div>

    <div class="card-reservation">
      <h2>Réservations</h2>
      <h3><%= @vehicle.name %></h3>
      <p id="dayPrice" data-price="<%= @vehicle.price %>">  <%= @vehicle.price %> <i class="fa-solid fa-sack-dollar"></i> par jour</p>

      <%= render "calendarpicker", vehicle: @vehicle %>

      <p id="totalPrice"></p>
      <p><strong><%= @booking.price %></strong></p>
    </div>
  </div>
</div>
