<div class="container">
  <div class="header">
    <div class="title">
      <h1><em><%= @vehicle.user.first_name %>'s <%= @vehicle.vehicle_type %></em></h1>
      <h2><%= @vehicle.name %></h2>
      <p><em><%= @vehicle.address %></em></p>
    </div>
    <div class="buttons">
      <% if policy(Vehicle).edit? %>
        <%= link_to ("<i class='fa-solid fa-pen-to-square'></i>").html_safe, edit_vehicle_path, class:"btn-blue"%>
      <% end %>
      <% if policy(Vehicle).destroy? %>
        <%= link_to ("<i class='fa-solid fa-xmark'></i>").html_safe,
                      vehicle_path(@vehicle),
                      method: :delete,
                      data: { confirm: "Are you sure?" } ,
                      class:"btn-red"%>
      <% end %>
    </div>
  </div>

  <div class= "product">

      <div class="card-product mt-4">
        <% if @vehicle.photo.attached? %>
          <%= cl_image_tag @vehicle.photo.key, height: 500, width: 800, crop: :fill %>
        <% end %>
          <div class="card-product-infos">
            <div>
              <h2><%= "#{@vehicle.user.first_name}'s #{@vehicle.name}"%></h2>
            </div>
          <h2 class="card-product-pricing" id="dayPrice" data-price="<%= @vehicle.price %>"> <%=  @vehicle.price %> <i class="fa-solid fa-sack-dollar"></i>/ day</h2>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle card-product-user", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag"photo-avatar-profil.png", class: "avatar dropdown-toggle card-product-user", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
        </div>
      </div>

    <div class="card-reservation">
      <%= render "calendarpicker", vehicle: @vehicle %>
      <div id="totalPrice" class="border-top pt-3 mt-3"></div>
      <p><strong><%= @booking.price %></strong></p>
    </div>
  </div>
</div>
